{% extends 'base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="card shadow mb-4">
        <div class="card-header bg-primary text-white">
            {% if edit_mode %}แก้ไขข้อมูลลูกค้า{% else %}บันทึกข้อมูลลูกค้า{% endif %}
        </div>
        <div class="card-body">
            {{ form.as_p }}

            <hr>
            <h5><i class="bi bi-envelope"></i> รายการ Email</h5>
            {{ emails.management_form }}
            {% for f in emails %}
                <div class="mb-2">
                    {{ f.id }}
                    {{ f.email }}
                </div>
            {% endfor %}

            <hr>
            <h5><i class="bi bi-telephone"></i> รายการเบอร์โทร</h5>
            {{ phones.management_form }}
            {% for f in phones %}
                <div class="mb-2">
                    {{ f.id }}
                    {{ f.phone_number }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success mt-3">บันทึกข้อมูล</button>
            <a href="{% url 'customer_list' %}" class="btn btn-secondary mt-3">ยกเลิก</a>
        </div>
    </div>
</form>
{% endblock %}
